<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aidhome_2">

    <!-- Autorizzazioni di Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Autorizzazioni di Localizzazione -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="aidhome_2"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifica un tema Android da applicare a questa Activity non appena
                 il processo Android è stato avviato. Questo tema è visibile all'utente
                 mentre l'interfaccia Flutter si inizializza. Successivamente, questo tema continua
                 a determinare lo sfondo della finestra dietro l'interfaccia Flutter. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Non eliminare il meta-data sottostante.
             Questo viene utilizzato dallo strumento Flutter per generare GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Richiesto per interrogare le attività che possono elaborare il testo, vedi:
         https://developer.android.com/training/package-visibility e
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particolare, questo è utilizzato dal motore Flutter in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
